$font-stack: 'Rubik Glitch', cursive; 
$primary-color: #DADADA;    // sfondo grigio chiaro DADADA
$secondary-color: #121412; 
$border-color: #004A52;   //border verde 78A582
$shadow: rgba(0,0,0,0.4);
$btn-shadow: rgba(0, 0, 0, 0.3);
$btn-plus-shadow: rgba(68, 153, 19, 0.801);
$btn-minus-shadow: rgba(160, 3, 3, 0.664); 