@media only screen and (min-width: 601px) and (max-width: 1060px){
    html{
        font-size: 21px;
    }

    #container{

        #value-exp-container{

            //pop-up styling
            #lvl-pop-up-container{
                top: 1rem;
            }
            //pop-up styling end
        }

        //button styling
        #btn-container{

            .btn{
                width: 5.5rem;
            }
        }
        //button styling end
    }
}