@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Audiowide", cursive;
  background-color: #DADADA;
  color: #121412;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container {
  border: 3px solid #004A52;
  height: 90vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.4);
}
#container h1 {
  text-align: center;
  font-size: 3rem;
}
#container #value-exp-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container #value-exp-container #value-container {
  height: 25vh;
  width: 90%;
  margin: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #value-exp-container #value-container #value {
  text-align: center;
  font-size: 6rem;
}
#container #value-exp-container #lvl-pop-up-container {
  border: 2px dashed #004A52;
  border-radius: 1rem;
  padding: 1rem;
  display: block;
  visibility: hidden;
  position: relative;
  top: 3rem;
  font-size: 2.3rem;
}
#container #value-exp-container #exp-container {
  width: 90%;
  height: auto;
  border: 2px solid #004A52;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
#container #value-exp-container #exp-container #exp-bar {
  width: 90%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#container #value-exp-container #exp-container #exp-bar #exp {
  transition: 0.2s ease-in;
  width: 0%;
  height: 100%;
  background-color: #002152;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#container #value-exp-container #exp-container #lvl-container {
  order: -1;
  width: 10%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #004A52;
}
#container #value-exp-container #exp-container #lvl-container #lvl-value {
  font-size: 1.2rem;
  font-weight: 600;
}
#container #btn-container {
  margin: 1rem;
  padding: 0.5rem 1rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
}
#container #btn-container .btn {
  border: 2.5px solid #004A52;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 4rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}
#container #btn-container .btn:hover {
  background-color: #a7a7a7;
}
#container #btn-container #increment-btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#container #btn-container #increment-btn-container #incr-10 {
  order: 1;
  max-width: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(68, 153, 19, 0.801);
}
#container #btn-container #increment-btn-container #increment {
  max-width: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(68, 153, 19, 0.801);
}
#container #btn-container #reset {
  align-self: center;
  width: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
#container #btn-container #decrement-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
#container #btn-container #decrement-btn-container #btn-10 {
  max-width: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(160, 3, 3, 0.664);
}
#container #btn-container #decrement-btn-container #decrement {
  max-width: 50%;
  order: -1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(160, 3, 3, 0.664);
}

@media only screen and (min-width: 601px) and (max-width: 1060px) {
  html {
    font-size: 21px;
  }
  #container #value-exp-container #lvl-pop-up-container {
    top: 1rem;
  }
  #container #btn-container .btn {
    width: 5.5rem;
  }
}
@media only screen and (min-width: 1061px) {
  html {
    font-size: 24px;
  }
  #container #value-exp-container #lvl-pop-up-container {
    top: 1.5rem;
  }
  #container #btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #container #btn-container #increment-btn-container {
    margin-bottom: 0rem;
    width: 29%;
  }
  #container #btn-container #increment-btn-container #decrement-btn-container #decrement:hover, #container #btn-container #decrement-btn-container #increment-btn-container #decrement:hover, #container #btn-container #increment-btn-container #decrement-btn-container #btn-10:hover, #container #btn-container #decrement-btn-container #increment-btn-container #btn-10:hover, #container #btn-container #increment-btn-container #increment:hover, #container #btn-container #increment-btn-container #incr-10:hover {
    box-shadow: 0.5rem 0.5rem 1rem rgba(68, 153, 19, 0.801);
    background-color: rgba(68, 153, 19, 0.801);
    transform: scale(1.1);
  }
  #container #btn-container #increment-btn-container #incr-10 {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
  }
  #container #btn-container #increment-btn-container #increment {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
  }
  #container #btn-container #reset {
    width: 30%;
    transition: 0.5s ease-in;
  }
  #container #btn-container #reset:hover {
    transform: scale(1.1);
  }
  #container #btn-container #decrement-btn-container {
    margin-top: 0rem;
    width: 29%;
  }
  #container #btn-container #decrement-btn-container #decrement:hover, #container #btn-container #decrement-btn-container #btn-10:hover, #container #btn-container #decrement-btn-container #increment-btn-container #incr-10:hover, #container #btn-container #increment-btn-container #decrement-btn-container #incr-10:hover, #container #btn-container #decrement-btn-container #increment-btn-container #increment:hover, #container #btn-container #increment-btn-container #decrement-btn-container #increment:hover {
    box-shadow: 0.5rem 0.5rem 1rem rgba(160, 3, 3, 0.664);
    background-color: rgba(160, 3, 3, 0.664);
    transform: scale(1.1);
  }
  #container #btn-container #decrement-btn-container #btn-10 {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
  }
  #container #btn-container #decrement-btn-container #decrement {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
  }
}